.textchange::before {
    width: 100%;
    height: 100%;
    content: 'PORTFOLIO';
    color: #00FC82;
    position: absolute;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    animation: textanimation 4s ease-in-out infinite;
}

@keyframes textanimation {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}

.Loading {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    animation: textanimation2 2s ease-in-out infinite;
}

@keyframes textanimation2 {
    0%{
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

:root{
    --middle: hsl(176, 74%, 50%);
    --two-hundred: hsl(176,82%, 73%);
    --hundred: hsl(176,95%,91%);
    --six-hundred: hsl(176,79%,37%);
    --seven-hundred: hsl(176,85%,25%);
}